.footer {
  background-color: #1a202c;
  color: #f7fafc;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1 1 240px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 28px;
  margin-right: 28px;

}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #f7fafc;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: block;
  padding: 5px 0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.footer-section ul li a:hover {
  color: #e53e3e;
  transform: translateX(5px);
}
.social h4{
  margin-top: 62px;
}
.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
 
}

.social-icons a {
  color: #f7fafc;
  font-size: 22px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 8px;
  border-radius: 50%;
  background-color: #2d3748;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:hover {
  color: #e53e3e;
  background-color: #4a5568;
  transform: scale(1.3);
}

.footer-bottom {
  border-top: 1px solid #2d3748;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 15px 0;
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
}